<section class="main" [ngClass]="setLevel()">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at tempor diam. Curabitur tempor, quam in fringilla
    porta, magna nisl congue enim, vel gravida lorem arcu a risus. In hac habitasse platea dictumst. Sed quis arcu
    metus.
    Donec dignissim ligula non ipsum rhoncus, in ullamcorper nisi suscipit. In sit amet ullamcorper nulla. Curabitur
    maximus elit vel urna tincidunt ultrices. Integer sed velit vel mauris pulvinar consequat euismod sit amet est. In
    vel
    blandit leo, vitae feugiat odio. Pellentesque venenatis felis ut risus venenatis consequat.</p>

  <p>Etiam tincidunt in magna lacinia fermentum. Ut porta euismod pharetra. Donec accumsan erat facilisis est vehicula
    pulvinar. Maecenas quis ullamcorper magna. Donec eget venenatis odio. Donec fermentum ultrices urna, in porttitor
    erat
    vestibulum quis. Quisque non pellentesque diam, finibus tincidunt orci. Etiam lobortis, erat vel mattis cursus,
    massa
    diam porta risus, ut accumsan ex felis sit amet metus. Mauris lobortis tincidunt elit, id sagittis dui sodales ac.
    Nunc ornare magna non felis pellentesque mattis. Praesent dui augue, porttitor sed feugiat blandit, rhoncus nec ex.
  </p>

  <p>Aenean sit amet luctus lectus, id vehicula lacus. Integer turpis dolor, semper sed condimentum eu, sollicitudin
    convallis orci. In et sem interdum magna efficitur luctus. Mauris ultricies magna est, at venenatis dui luctus et.
    Nullam vitae erat lacinia, gravida ante id, cursus metus. Donec et sapien sollicitudin, aliquam nibh ut, aliquam
    quam.
    Proin accumsan sollicitudin lorem, id condimentum ante posuere id. Aliquam quis nulla in diam rutrum auctor.</p>

  <p>Nunc pretium id dolor non suscipit. Phasellus eleifend sed urna non auctor. Donec a neque a ipsum lacinia
    vulputate.
    Maecenas consectetur velit a fermentum semper. Donec vulputate tortor a pretium viverra. Morbi posuere condimentum
    nunc ac blandit. Donec eu vulputate eros, a fringilla lorem. Pellentesque sagittis laoreet urna ac laoreet.</p>

  <p>Cras tortor nulla, euismod at diam in, blandit tristique nulla. Cras odio leo, varius quis ligula nec, euismod
    volutpat lacus. Pellentesque aliquam tortor at efficitur tempor. Sed scelerisque tincidunt ex. Donec eu felis
    ultrices, dictum mi ut, commodo arcu. Morbi sit amet convallis mauris. In venenatis, nisl a luctus gravida, ipsum
    nunc
    accumsan dui, quis dictum justo risus id dolor. Nullam faucibus eleifend eros, sit amet accumsan neque auctor
    aliquet.
    Donec vel malesuada justo. Aliquam ut massa nec risus tempus rutrum. Sed quis dolor sit amet ex bibendum efficitur
    eu
    sed justo.</p>

  <button class="btn btn-success">
    <i class="fa-solid fa-check"></i> OK
  </button>

  <p>level: {{level}}</p>
</section>
