<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Decrease or increase font size</a>
    <div class="ml-auto">
      <span class="navbar-text me-2">
        Font size:
      </span>
      <div class="btn-group">
        <button class="btn btn-danger" (click)="decreaseLevel()">
          <i class="fa-solid fa-minus"></i>
        </button>
        <button class="btn btn-success" (click)="increaseLevel()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<ng-template #popTitle>Font Size</ng-template>
<ng-template #popContent>
  <div class="btn-group">
    <button class="btn btn-danger" (click)="decreaseLevel()">
      <i class="fa-solid fa-minus"></i>
    </button>
    <button class="btn btn-success" (click)="increaseLevel()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</ng-template>
